.campo{
    margin: 24px 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.campo label{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    text-align: left;
}

.campo input{
    width: 30rem;
    background-color:  #262626;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: 0.2rem solid  #454343;
    padding: 30px 20px;
    outline-color: #6278F7;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 1rem;
    color:#FFFFFF;
    box-shadow: inset 0px 0px 10px 2px #2271D1;

}


.campo-color input{
    height: 40px;
    padding: 5px 20px;
    color:#FFFFFF;

}