.boton{
    color:#FFFFFF;
    background-color: #262626;
    border-color: #FFFFFF;
    border-radius: 0.5rem;
    width: 100px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: inset 0.5px 0.5px 0.5px 0.5px #2271D1 ;
}

.boton:hover{
    color:#2271D1;
    background-color: #000000;
    border-color: #2271D1;
    border-radius: 0.5rem;
    width: 100px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: inset 0.5px 0.5px 0.5px 0.5px #2271D1;
}